@page
@model OnePunch.Pages.AdminModel

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].ClockIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].ClockOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].IsClockedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].AspNetUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].AspNetUserRoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].ModifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punch[0].LastPunch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Punch) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClockIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClockedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUserRoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPunch)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
